[id] {
	scroll-margin-top: 56px;
}

html {
	scroll-behavior: smooth;
}

body, #main-nav {
	transition: 0.2s;
}

footer, #main-nav {
	user-select: none;
}

label {
	margin: 0 0;
}

a {
	color: #808080;
}

a:hover {
	color: #bfbfbf;
}

@media screen and (max-width: 300px) {
	.navbar-brand {
		width: 0px;
		overflow: hidden;
	}
}

.nav-item {
	text-align: right;
}

.section {
	margin-top: 10em;
	margin-bottom: 10em;
}
