:root {
	--main-highlight-color: #999aff;
	--main-text-color: #808080;
	--main-hover-color: #bfbfbf;
}

img {
	user-select: none;
}

[id] {
	scroll-margin-top: 56px;
}

::selection {
	background: var(--main-highlight-color);
}

::moz-selection {
	background: var(--main-highlight-color);
}

html {
	scroll-behavior: smooth;
}

body, #main-nav {
	transition: 0.2s;
}

footer, #main-nav {
	user-select: none;
}

label {
	margin: 0 0;
}

a {
	color: var(--main-text-color);
}

a:hover {
	color: var(--main-hover-color);
}

@media screen and (max-width: 300px) {
	.navbar-brand {
		width: 0px;
		overflow: hidden;
	}
}

.nav-item {
	text-align: right;
}

.nav-link.special:hover {
	color: var(--main-highlight-color) !important;
}

.section {
	margin-top: 10em;
	margin-bottom: 10em;
}

.link {
	display: inline-block;
	position: relative;
}
.link a {
	text-decoration: none;
}

.link::after, .link svg {
	transition: 0.1s;
}

.link::after {
	position: absolute;
	left: 50%;
	bottom: 0%;
	transform: translateX(-50%) translateY(100%);
	content: attr(data-tooltip);
	visibility: hidden;
	opacity: 0;
}

.link:hover::after {
	opacity: 1;
	visibility: visible;
}
