/* general styling */

:root {
	--col-neutral-100: white;
	--col-neutral-200: #eee;
	--col-neutral-500: #393e46;
	--col-neutral-800: #232931;
	--col-neutral-900: black;
	--col-accent-200: #aff;
	--col-accent-300: #7dd;
	--col-accent-400: #91c6f1;
	--col-accent-500: #608aca;
	--col-accent-600: #3e76ca;
	--col-accent-700: #7c69c2;
	--col-accent-800: #5c3a92;
	--col-accent-900: #4b1b64;

	--transition: 200ms;
	--transition-fast: 100ms;
}

:root {
	--col-bg: var(--col-neutral-200);
	--col-text: var(--col-neutral-800);
	--col-link: var(--col-accent-800);
	--col-link-hover: var(--col-accent-600);
	--col-selection: var(--col-accent-400);
}

:root [data-theme='dark'] {
	--col-bg: var(--col-neutral-800);
	--col-text: var(--col-neutral-200);
	--col-link: var(--col-accent-400);
	--col-link-hover: var(--col-accent-200);
	--col-selection: var(--col-accent-700);
}

::selection {
	background: var(--col-selection);
}



html {
	scroll-behavior: smooth;
}
@media (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: unset;
	}
	:root {
		--transition: 0ms;
		--transition-fast: 0ms;
	}
}

*, *::before, *::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Courier Prime', monospace;
	font-size: clamp(1em, 2.75vw, 1.3em);
	background-color: var(--col-bg);
	color: var(--col-text);
	transition:
		color var(--transition),
		background-color var(--transition);
}

h1 { font-size: 1.4em; }
h2 { font-size: 1.3em; }
h3 { font-size: 1.2em; }

a {
	color: var(--col-link);
}
a:hover {
	color: var(--col-link-hover);
}