
/* yeah lol */
@media screen and (max-width: 350px) {
	nav ul {
		width: calc(100% - 2rem);
		justify-content: space-between;
	}
	nav li {
		padding: 0;
	}
}


/* about */

.img-fluid {
	width: 100%;
	border-radius: 50%;
	display: block;
	margin: 0 auto;
}

.flex-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.flex-col {
	margin: 0;
	padding: 1em;
	margin: auto;
}

.flex-col p {
	margin: 0;
}

.flex-left {
	width: 34%;
}

.flex-right {
	width: 66%;
}


@media screen and (max-width: 60em)  {
	.flex-container {
		flex-direction: column-reverse;
	}
	.flex-col {
		width: 100%;
	}
	#about img {
		width: 66%;
	}
}

.down-arrow {
	display: block;
	margin: auto;
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 50%;
	position: relative;
	animation: scrollIndicator 5s infinite;
}
.down-arrow::before,
.down-arrow::after {
	content: '';
	position: absolute;
	background: var(--col-text);
	height: 1rem;
	width: .1rem;
	top: calc(50% - .5rem);
	left: calc(50% - .05rem);
	border-radius: 999em;
	transform-origin: bottom;
	--rotate-angle: 37deg;
	transition: transform var(--transition);
}

.down-arrow:hover::before,
.down-arrow:hover::after,
.down-arrow:focus-visible::before,
.down-arrow:focus-visible::after {
	--rotate-angle: 47deg;
}

.down-arrow::before {
	transform: rotate(calc(-1 * var(--rotate-angle)));
}

.down-arrow::after {
	transform: rotate(var(--rotate-angle));
}

@keyframes scrollIndicator {
	0% {
		opacity: 0.2;
		top: 0;
	}
	50% {
		opacity: 0.6;
		top: .3rem;
	}
	100% {
		opacity: 0.2;
		top: 0;
	}
}

/* projects */

.card-holder {
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	flex-wrap: wrap;
}

.card {
	text-align: center;
	margin: 1.25em 0.75em;
	width: 12.5em;
	max-width: 20em;
	flex-grow: 1;
	transition: var(--transition);
	border-radius: .5em;
	display: flex;
	flex-direction: column;
	position: relative;
}

.card:hover::after,
.card:focus-within::after {
	opacity: 0.5;
}

.card::after {
	content: '';
	position: absolute;
	/* inset: 0; */
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	border-radius: .5em;
	z-index: -1;
	box-shadow: 0 0 1em 1em var(--col-secondary);
	background: var(--col-secondary);
	opacity: 0;
	transition: var(--transition);
}

.js-tilt-glare {
	border-radius: .5em;
}


.card-header,
.card-body,
.card-link-holder {
	margin: 0;
	padding: .5em;
}

.card-body {
	font-size: .9rem;
}

.card-img {
	width: 100%;
	/* height: auto; */
}

.card-header {
	font-size: 1.2rem;
	font-weight: 600;
	line-height: 1em;
}


.card-link-holder {
	bottom: 0;
	right: 0;
	flex-grow: 1;
	display: flex;
	align-items: flex-end;
	/* margin-left: auto; */
	justify-content: flex-end;
}


.card-link-holder span {
	padding: 0;
	display: flex;
}

.card-link-holder a {
	margin-left: .5em;
}

.card-link-holder span,
.card-link-holder svg {
	height: 1em;
}
.card-link-holder svg {
	/* display: inline; */
	width: 1em;
	/* margin-left: .25em; */
	transition: var(--transition);
	fill: var(--col-text);
}

.card-link-holder a:focus-visible svg,
.card-link-holder svg:hover {
	fill: var(--col-link-hover);
}


/* contact */

.svg-link {
	display: inline-block;
	position: relative;
}
.svg-link a {
	text-decoration: none;
	transition: color var(--transition-fast);
}

.svg-link::after {
	pointer-events: none;
}

.svg-link::after,
.svg-link > svg {
	transition: var(--transition-fast);
}

.svg-link::after {
	white-space: nowrap;
	position: absolute;
	left: 50%;
	bottom: 0%;
	transform: translate(-50%, 100%);
	content: attr(data-tooltip);
	visibility: hidden;
	opacity: 0;
}

.svg-link:hover::after,
.svg-link:focus-visible::after {
	visibility: visible;
	opacity: 1;
}

#contact ul {
	padding: 0;
	margin: 0;
	list-style: none;
}


#contact a {
	fill: currentColor;
}

#contact a svg {
	height: 3em;
	fill: inherit;
}
