body {
  user-select: none;
  display: inline-grid;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  cursor: default;
  justify-content: center;
}

.panel {
  position: sticky;
  height: 10vh;
  width: auto;
  z-index: 1;
  margin: 0;
  padding: 0;
  border: none;
}

.panel button {
  margin: 0;
  border: 0;
  text-align: center;
  width: 9vw;
  height: 5vh;
  font-size: 1vw;
  line-height: 0px;
  overflow: hidden;
}
.panel button:hover {
  background: red;
}
.panel input {
  border: none;
  width: 9vw;
  height: 5vh;
  font-size: 1.5vw;
}

.grid {
  position: absolute;
  display: flex;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.cell {
  background: white;
  border: 1px solid black;
  height: 25px;
  width: 25px;
  margin: 1px;
}
